.bg {
    background-image: url(../img/BajoneandoPorHay.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
    top: -300px;
    z-index: -1;
}