.MuiCard-root {
    width: 350px;
    padding: 10px;
}

.Item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.Item__title>p{
    font-size: 24px;
}

.Item__image>img {
    width: 350px;
    max-width: 350px;
    border-radius: 5px;
}