.ItemListContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
    color: #fff;
    margin-top: 15px;
    padding: 2rem 5rem;
}