.ItemDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 5rem;
}

.ItemDetail__image>img{
    width: 100%;
    border-radius: 5px;
}

.ItemDetail__description{
    padding: 1rem;
    margin-top: 2rem; 
}


.ItemDetail__description>ul{
    padding: 0;
    list-style-type: none;
}

ul>li{
    margin: 1rem 0;
}

.ItemDetail__info{
    align-self: flex-start;
    text-align: center;
}


.ItemDetail__info>p{
    text-align: center;
    font-size: 42px;
    color: #6064BF;
    font-weight: 600;
}

.ItemDetail__info-add{
    margin: 10rem 0;
}