.ItemListContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    color: #fff;
    margin-top: 15px;
    width: 100%;
}