.navbar{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    margin: 2rem 0 5rem 0;
}

.navbar__links{
    margin: 0 30px;
}
.Link, .Link:visited{
    color: #000;
    text-decoration: none;
}