.navbar{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    margin-bottom: 100px;
}

.navbar__links{
    margin: 0 30px;
    cursor: pointer;
}